# Autosave files
*~

# Build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# Globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db

# Mac bundle stuff
*.dmg
*.app

# Rider & Resharper
*_Resharper.*
*.Resharper
.idea

# dotCover
*.dotCover

# Carthage
Carthage/
Cartfile.resolved
